<div id="tweet_boxes">
  <%= page_entries_info @tweets %>
  <% if @tweets.present? %>
    <% @tweets.each do |tweet|%>
      <%= render :partial => 'tweet_box', :locals => {:tweet => tweet} %>
        <div class="col-xs-3 col-sm-2 col-md-2 show">
        <%= link_to "詳細", tweet_path(tweet), class: "btn btn-primary show_btn" %></div></div>
    <% end %>
    <%= paginate @tweets %>
  <% else %>
    ツイートがありません。
  <% end %>
</div>