<!--tweets/index.html-->
<div class="wrapper index_page">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0">
      <%= render 'post_tweet'%>
      <%= render 'tweets' %>
    </div>
  </div>
</div>