body {
  .clearfix:after {
    content:" ";
    display:block;
    clear:both;
  }
  div.wrapper {
    .submit {
      margin-top: 50px;
    }
  }
  .border {
    border: 1px solid #cccccc;
  }
  .top-buffer { margin-top:20px; }
  .lg-top-buffer { margin-top: 50px;}
  
}