// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tweet_boxes, #tweet_box {
  .each_tweet {
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: auto;
  }
  .information *{
    //margin-left: 5px;
  }
  .img a {
    display: inline-block;
    img {
      width: 50px;
      height: 50px;
      padding: 0;
      margin: 0;
    }
  }
  .tweet_name, .tweet_created {
    display: inline-block;
  }
  .link {
    text-decoration: none;
    color: #585858;
  }
  .link *:hover{
    opacity: 0.8;
  }
  .tweet_name a {
    margin-left: 0px;
    //margin-right: 10px;
    color: blue;
  }
  .show_btn {
    margin-top: 20px;
  }
}

// Index page
.index_page {
  form {
    .submit_btn {
      float: right;
    }
  }
}

// Edit page
.edit_page {
  form {
    .submit_btn {
      display: inline-block;
      float: right;
    }
    .delete_btn {
      display: inline-block;
      float: right;
      margin-right: 10px;
    }
  }
}

//Show page
.show_page {
  
}
