div.wrapper {
  margin-top: 100px;
  padding: 30px;
  .devise_title {
    margin-bottom: 30px;
  }
  #error_explanation {
    h2 {
      display: none;
    }
    color: red;
    margin-bottom: 30px;
  }
  .error {
    color: red;
    text-align: center;
    margin-bottom: 30px;
  }
}